.label-as-badge {
    border-radius: 1em;
}

.spinner {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.badge.badge-small {
    vertical-align: Top;
    margin-left: '10px';
    font-size: 0.5em;
}

.title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 44px;
    line-height: 55px;
    color: #24221e;
}

/* Small screen */

@media screen and (max-width: 799px) {
    .title {
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 36px;
        line-height: 45px;
        color: #24221e;
    }
}

.button {
    font-family: 'Inter', sans-serif;
    background-color: #23B5D3;
    border: none;
    padding: 15px;
    width: 9em;
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 20px;
}

#searchbar:focus+#blurable {
    filter: opacity(50%);
}

.searchbar {
    border: none;
    background: whitesmoke;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color:#5a564f;
    width: auto;
    margin-bottom: 50px;
}

.searchbar:focus {
    border: none;
    background: whitesmoke;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color:#5a564f;
    ;
}
::placeholder {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #5a564f;
}

.table-title {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.table-child {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color:black;
    display: 'inline';

}

