#app {
    font-family: Helvetica;
    max-width: 990px;
    min-width: 630px;
    min-height: 700px;
    border: #002518 1px solid;
    padding: 0;
}

#homebar .navbar {
    border-bottom: #002518 1px solid;
    padding: 0;
}

#homebar .navbar-text,
.nav-link {
    font-size: 12px;
    color: #002518;
    line-height: 12px;
    font-weight: 300;
}

#homebar .navbar-brand {
    font-weight: bold;
}

#frame-content {
    height: 100%;
    min-width: 630px;
    max-width: 990px;
    padding: 0;
    display: grid;
    grid-template-columns: 170px auto;
    min-height: 700px;
}

#sidebar {
    width: 170px;
    max-width: 170px;
    border-right: 1px black solid;
    height: 100%;
}

#homeview {
    height: 100%;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#two-col-frame{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

#search-filters .ais-RefinementList-labelText {
    font-size: 11px;
}

#homecopy {
    font-size: 12px;
    padding: 16px;
    text-align: justify;
}

#search-results {
    font-size: 11px;
    padding: 8px;
}
#search-results ul {
    padding-left: 0px;
}

#search-form-algolia input {
    width: 100%;
    border-radius: 50px;
    border: 1px solid #dadce0;
    font-size: 12px;
    line-height: 15px;
}

#search-form-algolia input:focus {
    outline: 1px solid #002518;
}

#search-form-algolia form {
    width: 500px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.keyword-pill {
    border: #a6b7f9 1px solid;
    padding: 5px;
    margin-right: 3px;
    border-radius: 10px;
    font-size: 8px;
    line-height: 20px;
    color: #3730a3;
    background-color: #eef2ff;
}

#search-results .ais-Highlight {
    font-size: 11px;
}