:root {
    --regular-fs: 13px;
    --hundred-px: 100px;
    --eighty-pct: 80%;
    --hundred-pct: 100%;
}


#app {
    font-family: Helvetica;
    max-width: 990px;
    min-width: 630px;
    min-height: 700px;
    margin: auto;
}

/* Table Utils */
#spacer-h-100 {
    height: var(--hundred-px);
}
#spacer-h-50 {
    height: 50px;
}
#spacer-h-20 {
    height: 20px;
}

#spacer-w {
    width: 30px;
}

.border{
    border: #002518 1px solid;
    width: var(--hundred-pct);
}

/* Search */
#search-table {
    width: var(--hundred-pct);
}

#search-table td {
    vertical-align: top;
}

/* Search Filters */
#search-filters-table {
    width: 140px;
    height: var(--hundred-pct);
    border-right: #edeeef 1px solid;
    padding: 0;

}

#search-filters-table li {
    list-style-type: none;
}

#search-filters-table ul {
    padding: 2px 0px 0px 5px;
}

#search-filters-table label:hover {
    text-decoration: underline;
    cursor: pointer;
}

#search-filters-table td {
    vertical-align: top;
}

#search-filters-table .filter-header{
    font-size: var(--regular-fs);
    color: #3730a3;
}

#search-filters-table .ais-RefinementList-list {
    margin: 0;
}

#search-filters-table .ais-RefinementList-count  {
    display: none;
}

#search-filters-table .ais-RefinementList-checkbox {
    display: none;
}

#search-filters-table .ais-RefinementList-item {
    font-size: var(--regular-fs);
    line-height: 13px;
}

#search-filters-table .ais-RefinementList-item--selected {
    font-weight: bold;
}

.not-visible {
    display: none;
}

/* Search Results */
#search-results {
    width:var(--hundred-pct);
    border-spacing: 0;
}

#search-results .ais-Highlight {
    font-size: 13px;
}

#search-results .ais-Hits-item {
    font-size: 13px;
    line-height: 14px;
    padding: 0px;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px #d8dee4 solid;
}

#search-results .ais-InfiniteHits-loadMore {
    font-size: 13px;
    line-height: 14px;
}

#hit-title {
    color: #0969da;
    font-size: 16px;
    font-weight:600;
}

#hits-table {
    font-size: 13px;
    border-spacing: 0px;
}

#hits-table header {
    color: #0969da;
}

#subsection{
    padding-left: 10px;
}

#subsection-a header{
    background-color: #E9FDF3;
}

#subsection-b header {
    background-color: #F3F1FF;
}



#hits-table li {
    list-style-type: none;
    border-bottom: 1px #edeeef solid;
}

#hits-table li:last-of-type {
    border-bottom: none;
}

#metadata {
    font-size: 10px;
    color: #3730a3;
    line-height: 12px;
    width: 75px;
}

.beta-pill {
    color: #3730a3;
    background-color: #eef2ff;
    padding: 1px 2px 1px 2px;
    margin-left: 3px;
    vertical-align: top;
    border-radius: 2px;
    font-size: 8px;
}

.keyword-pill {
    border: #a6b7f9 1px solid;
    padding: 5px;
    margin-right: 3px;
    border-radius: 5px;
    font-size: 8px;
    line-height: 20px;
    color: #3730a3;
    background-color: #eef2ff;
}

/* Search Form */
#searchform-table {
    margin: auto;
}
#searchform-table form {
    height: 30px;
    width: 420px;
}

#search-form input {
    width: var(--hundred-pct);
    height: 30px;
    border-radius: 20px;
    border: 1px #002518 solid;
    padding-left: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
}

/* Box-Sising prevents  */

/* Pagination */

#pagination-table a {
    text-decoration: none;
    font-size: 14px;
    color: #4285f4
}

#pagination-table a:hover {
    text-decoration: underline;
}

#pagination-table ul {
    padding: 0;
    margin: auto;
    text-align: center;
}

#pagination-table li {
    display: inline;
    padding-left: 1em;
}

#pagination-table li:first-of-type {
    padding: 0;
}

/* Footer */
#footer-table {
    border-top: #edeeef 1px solid;
    width: var(--eighty-pct);
    margin: auto;
}

#footer-table td{
    text-align:start;
}

#footer-table .title{
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
}

#footer-table a{
    font-size: 12px;
    color: #4367dc;
    line-height: 14px;
    cursor: pointer;
}

#searchwrap-table {
    height: var(--hundred-pct);
    margin-top: 15px;
}

/* banner */
#banner {
    width: var(--hundred-pct);
    text-align: center;
    box-sizing: border-box;
}
#slogan {
    font-size: 18px;
    text-align: center;
    width: var(--hundred-pct);
    box-sizing: border-box;
}

/* Recommendations */

#recommendations {
    font-size: 1250;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 3px;
}

#valueprop {
    width: var(--eighty-pct);
    font-size: var(--regular-fs);
    margin: auto;
    table-layout: fixed;
}

#valueprop h3 {
    color: #3730a3;
}

#valueprop td {
    vertical-align:top;
    padding: 5px 20px 20px 20px;
}

#valueprop span {
    line-height: 20px;
}

/* Navbar */
#navbar-table {
    width: var(--eighty-pct);
    font-size: var(--regular-fs);
    text-align: end;
    margin: auto;
}

/* Search Results Table */
#results-table {
    border-top: #edeeef 1px solid;
    width: var(--eighty-pct);
    margin: auto;
}