
.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.sidebar {
  flex-basis: 200px;
  flex-grow: 1;
  background-color:whitesmoke;
  color: black;
  padding-right: 0;
}

/* Small Screen */
@media screen and (max-width: 799px){
  .sidebar {
    display: none;
  }
  .heavy-padded {
  padding-top: 1em;
  }
}
/* Mid and large screens */
@media screen and (min-width: 799px){
  .heavy-padded {
  padding-top: 80px;
  }
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 1100;
  min-width: 50%;
  padding-left: 10em;
  padding-right: 10em;
}

.nav-links {
  font-family: 'Inter', sans-serif;
  color: grey;
  text-decoration:none;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.brand {
  color: #5a564f;
  font-family: 'Inter', sans-serif;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.navbar-font {
  font-family: 'Inter', sans-serif;
  color: #5a564f;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.navbar-font-cta {
  font-family: 'Inter', sans-serif;
  color: #23B5D3;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.navbar-layout {
  width: 60%;
  margin: auto;
}

.nav-links:hover {
  font-weight:600;
  color:#5a564f;
}

.nav-link-active {
  color: black;
  font-weight:500;
  border-right-style: solid;
  border-right-color: #23B5D3;
}

.centered {
  text-align: center;
}
