
.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.sidebar {
  flex-basis: 11rem;
  flex-grow: 1;
  background-color:whitesmoke;
  color: black
}

@media screen and (max-width: 799px){
  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 799px){
  .navbar {
    display: none;
  }
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 1100;
  min-width: 50%;
}

.nav-links {
  font-size: medium;
  color: grey;
  text-decoration:none;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.nav-links:hover {
  font-weight:500;
  color: black;
}

.nav-link-active {
  color: black;
  font-weight:500;
  border-right-style: solid;
  border-right-color: lightskyblue;
}
