
.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.sidebar {
  flex-basis: 200px;
  flex-grow: 1;
  background-color:whitesmoke;
  color: black;
  padding-right: 0;
}

.nav-links {
  font-family: 'Inter', sans-serif;
  color: grey;
  text-decoration:none;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.brand {
  color: #5a564f;
  font-family: 'Inter', sans-serif;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.navbar-font {
  font-family: 'Inter', sans-serif;
  color: #5a564f;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.navbar-layout {
  padding: 0px;
  margin-top: 30px;
}

.bg-margin-bottom {
  margin-bottom: 125px;
}

.md-margin-bottom {
  margin-bottom: 75px;
}

.navbar-font-cta {
  font-family: 'Inter', sans-serif;
  color: #23B5D3;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.nav-links:hover {
  font-weight:600;
  color:#5a564f;
}

.nav-link-active {
  color: black;
  font-weight:500;
  border-right-style: solid;
  border-right-color: #23B5D3;
}

.centered {
  text-align: center;
}

.risk-gradient-active {
  border-style: solid;
}

.p-bold {
  font-weight: 600;
  font-size: 18px;
  color: #5a564f;
}

.email-input-layout {
  border: #23B5D3;
  border-style: solid;
  padding: 7px;
  border-radius: 5px;
  padding: 10px;
}

.email-input {
  border: none;
  font-weight: 600;
  font-size: 16px;
  width: 70%;
  background-color: transparent;
  color: #5a564f;
}

.email-input:focus {
  outline: none;
  background-color: transparent;
}

.email-button {
  border: none;
  background-color: transparent;
  text-align: center;
  float: right;
  font-weight: 600;
  font-size: 16px;
  color: #5a564f;
}

.no-x-padding {
  padding-left: 0;
  padding-right: 0;
}