/* Basic Styles */

.skeleton {
    /* background: #ddd; */
    /* border-radius: 4px; */
}

.skeleton.text {
    height: 4rem;
    margin: 1rem;
}

.skeleton.title {
    width: 50%;
    height: 24px;
    margin-bottom: 5px;
}


.skeleton.subtitle {
    width: 25%;
    height: 15px;
    margin-bottom: 15px;
}

.skeleton.list {
    height: 12px;
    margin-bottom: 3px;
    width: 25%;
}

.skeleton-wrapper {
    position: relative;
    overflow:hidden;
    background-color: #F9F9F9;
}

.skeleton-hit {
    width: 100%;
    background-color: #C8C8C8;
}

/* skeleton profile */
.skeleton-profile {
    align-items: center;
}

/* animation effects */
.shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 2.5s infinite;
    overflow: hidden;
}

.shimmer {
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.3);
    transform: skewX(0deg);
    box-shadow: 0 0 30px 30px rgba(255,255,255,0.05);
}

@keyframes loading {
    0% {transform: translateX(0%)}
    100% {transform: translateX(100%)}
}